.collection {
  color: white;
}
.collection-title {
  font-family: "Livvic", sans-serif;
  font-size: 3em;
  left: 25%;
  padding-top: 10px;
  margin-left: 10%;
}
.collection-new-card {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.collection-popular-card {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
